<form class="" action="data" method="post">
    <h1>Table Name</h1>
    <p>The available table name are as follows:<br>
       1. Customer<br>
       2. Branch Data<br>
       3. Customer Home Address Data<br>
       4. Customer Office Data<br>
       5. Loan Amount Data<br>
    </p>
    <input type="file" name="upload-file" value="">
    <input type="submit" name="" value="Submit">
  </form>
  